<aside class="sidebar-left">
    <img class="sidebar-images-left" src="/assets/images/directory.png">
    <hr>
	<a href="/">Home</a>
    <ul class="directory-list">
        <b>Articles</b>
        <ul>
            <li><a href="/2024/11/01/informationDensity.html">Density is Beautiful</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
        <b>Lab</b>
        <ul>
            <li><a href="/lab/lab.html">Main Page</a></li>
            <li><a href="/lab/devices.html">My Devices</a></li>
        </ul>
        <b>Life</b>
        <ul>
            <li><a href="/life/life.html">Main Page</a></li>
            <li><a href="/downloads/wallpapers.html" target="_self"><img src="/assets/buttons/wallpaper.gif" alt="wallpapers"></a></li>
            <li><a href="/life/books.html">Books</a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
    </ul>
</aside>

