<aside class="sidebar-left">
    <img class="sidebar-images-left" src="/assets/images/directory.png">
    <hr>
	<a href="/">Home</a>
    <ul class="directory-list">
        <b>Articles</b>
        <ul>
            <li><a href="/2024/11/01/informationDensity.html">Density is Beautiful</a></li>
            <li><a href="/2025/04/06/rise.html">Rise!</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
        <b>Lab</b>
        <ul>
            <li><a href="/lab/lab.html">Main Page</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
        <b>Life</b>
        <ul>
            <li><a href="/life/life.html">Main Page</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
    </ul>
    <div>
        <img src="/assets/images/iamarobot.png" width="210px">
    </div>
</aside>

